# Unity
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/
[Mm]emoryCaptures/
[Rr]ecordings/
asset/
*.stackdump
*.pidb.meta
*.pdb.meta
*.mdb.meta
*.apk
*.aab
*.unitypackage
*.app
crashlytics-build.properties
sysinfo.txt
*.sln
*.csproj

# IDE
.vs/
.vscode/
*.suo
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

# OS
.DS_Store
Thumbs.db
desktop.ini

# Rust build artifacts
target/
